* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: sans-serif;
}

.modalContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #aaa;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  background: #fff;
  padding: 24px 16px;
  border-radius: 4px;
  width: 320px;
}

.modalTitle {
  font-size: 24px;
  font-weight: bold;
}

.modal p {
  font-size: 16px;
}

.modalClose {
  text-align: right;
}
