* {
  list-style: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.a11yHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  clip-path: polygon(0 0, 0 0, 0 0);
}
.container {
  position: relative;
}
.goListPage {
  border: 1px solid darkorange;
  padding: 3px;
  text-decoration: none;
  position: absolute;
  top: -45px;
  right: 30px;
  color: #000;
  font-weight: 600;
}
.title {
  border: 1px solid blue;
  margin: 10px 20px;
}
.cartItemLists {
  min-width: 1100px;
  border: 1px solid red;
  margin: 10px 30px;
}
.eachItemList,
.cartItem {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
.cartItemContainer {
  width: 800px;
  /* border: 1px dashed darkorange; */
  display: flex;
  align-items: center;
  line-height: 30px;
}
img {
  width: 100px;
  min-width: 100px;
  height: 100px;
  border: 1px solid green;
  margin: 10px;
}
.cartItemInfo {
  width: 100%;
  height: 100px;
  border: 1px solid yellowgreen;
}
.cartItemInfo > span {
  font-size: 20px;
  font-weight: 700;
}
.cartItemInfo > p:last-child {
  font-size: 13px;
  line-height: 16px;
}
.cartUpDownBtn > button {
  padding: 2px 8px;
  font-size: 14px;
  font-weight: 700;
  border: 1px solid #aaa;
}
.cartCountNum {
  width: 30px;
  padding: 0px 8px;
  border: 1px solid #aaa;
}

.cartDeletItem {
  padding: 10px;
  border-radius: 5px;
  border: none;
  border: 1px solid #aaa;
}
.cartDeletItem:active {
  background-color: deeppink;
}
